/* purgecss start ignore */
.popper {
  width: auto;
  background-color: #fff;
  color: #212121;
  text-align: center;
  padding: 0.25rem;
  //display: inline-block;
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  border: 1px #ebebeb solid;
  z-index: 10;
  -moz-box-shadow: rgba(58, 58, 58, 0.25) 0 0 5px 0;
  -webkit-box-shadow: rgba(58, 58, 58, 0.25) 0 0 5px 0;
  box-shadow: rgba(58, 58, 58, 0.25) 0 0 5px 0;

  &.-full{
    padding: 0px;
    border: none;
  }
  &.-noshadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
  }
  &[x-placement^="right"] {
    margin-left: 5px;
  }
  &[x-placement^="left"] {
    margin-right: 5px;
  }

  &__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  &__fade {

    &-enter-active, &-leave-active {
      z-index: 10;
      transition: opacity .3s;
    }
    &-enter, &-leave-to{
      opacity: 0;
    }
  }
}

.popper[x-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-color: #fafafa transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fafafa transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent #fafafa transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fafafa;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
/* purgecss end ignore */
